vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 May 2015 04:51:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|PR020633\\Vitaliy
vti_modifiedby:SR|PR020633\\Vitaliy
vti_timecreated:TR|27 May 2015 04:51:24 -0000
vti_cacheddtm:TX|27 May 2015 04:51:24 -0000
vti_filesize:IR|6838
vti_cachedlinkinfo:VX|S|fonts/flexslider-icon.eot S|fonts/flexslider-icon.eot S|fonts/flexslider-icon.woff S|fonts/flexslider-icon.ttf S|fonts/flexslider-icon.svg
vti_cachedsvcrellinks:VX|FSUS|css/fonts/flexslider-icon.eot FSUS|css/fonts/flexslider-icon.eot FSUS|css/fonts/flexslider-icon.woff FSUS|css/fonts/flexslider-icon.ttf FSUS|css/fonts/flexslider-icon.svg
vti_syncofs_ftp.veloactive.com.ua\:21/veloactive.com.ua/www:TW|17 Jun 2016 22:50:00 -0000
vti_syncwith_ftp.veloactive.com.ua\:21/veloactive.com.ua/www:TR|27 May 2015 04:51:24 -0000
